    .jumbotron {
        padding-top: 6rem;
        background-color: #e2edff;
    }
    
    #Projects {
        background-color: #e2edff;
    }
    
    .footer {
        padding-bottom: 10px;
    }
    
    section {
        padding-top: 5rem;
    }